.ipynb-checkpoints
*.geojson
*.nc
*.tiff
*.tif
*.html
*.png
*cleared.ipynb
workshop-pypsa-transnetbw/tmp/
workshop-pypsa-transnetbw/_build/
workshop-pypsa-transnetbw/tmp.csv
workshop-pypsa-transnetbw/data
data/
